<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ComputerConnection" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=Assignment4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Assignment4.Properties.Settings.Assignment4ConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Assignment4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>